force-app/main/default/flows/Self_Register_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Nickname_Counter</name>
        <label>Nickname Counter</label>
        <locationX>138</locationX>
        <locationY>1562</locationY>
        <assignmentItems>
            <assignToReference>NicknameCounting</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Username_Count</name>
        <label>Username Count</label>
        <locationX>138</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>username_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nickname_Checker</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Customer_details</name>
        <choiceText>Use Your Customer Details We have on File</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>EC_ACC_NO</name>
        <choiceText>&lt;span style=&quot;color: rgb(118, 1, 1);&quot;&gt;Use Your Enercare Account Number&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Active_User</name>
        <label>Active User?</label>
        <locationX>710</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>ActiveUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active User</defaultConnectorLabel>
        <rules>
            <name>Inactive_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUserDetails.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reactivate_User</targetReference>
            </connector>
            <label>Inactive User</label>
        </rules>
    </decisions>
    <decisions>
        <name>existing_user</name>
        <label>existing user</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Active_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>existing user</defaultConnectorLabel>
        <rules>
            <name>New_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUserDetails.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_licenses</targetReference>
            </connector>
            <label>New User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matching_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>emailAddress</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.MailingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>postalCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_user</targetReference>
            </connector>
            <label>Matching Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>LicensesAvailable</name>
        <label>Licenses Available?</label>
        <locationX>182</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Unavailable_licenses_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unavailable</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_licenses.UsedLicenses</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>get_licenses.TotalLicenses</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_matching_Usernames_and_Nicknames</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nickname_Checker</name>
        <label>Nickname Checker</label>
        <locationX>270</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nickname Available</defaultConnectorLabel>
        <rules>
            <name>Nick_Name_Unavailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.CommunityNickname</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <elementReference>NicknameCheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nickname_Counter</targetReference>
            </connector>
            <label>Nick Name Unavailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>username_Availability</name>
        <label>username Availability</label>
        <locationX>270</locationX>
        <locationY>1154</locationY>
        <defaultConnector>
            <targetReference>Nickname_Checker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Username Available</defaultConnectorLabel>
        <rules>
            <name>Username_Unavailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UsernameFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Username_Count</targetReference>
            </connector>
            <label>Username Unavailable</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Alias</name>
        <dataType>String</dataType>
        <expression>LOWER(LEFT(SUBSTITUTE(LEFT({!Get_Contact.FirstName}, 1) +{!Get_Contact.LastName}, &quot; &quot;, &quot;&quot;), 7))</expression>
    </formulas>
    <formulas>
        <name>for_Nickname</name>
        <dataType>String</dataType>
        <expression>LOWER(LEFT(IF({!NicknameCounting} &gt; 0, TEXT({!NicknameCounting}), &quot;&quot;) + SUBSTITUTE(LEFT({!Name.firstName}, 1) + {!Name.lastName}, &quot; &quot;, &quot;&quot;), 40))</expression>
    </formulas>
    <formulas>
        <name>for_Username</name>
        <dataType>String</dataType>
        <expression>LOWER(IF( {!username_Counter}&gt; 0, TEXT({!username_Counter}), &quot;&quot; + LEFT({!Name.firstName}, 1) + &quot;.&quot; + 
{!Name.lastName} + &quot;&quot;+ &quot;@enercaretestBillydev2.com&quot;) )</expression>
    </formulas>
    <formulas>
        <name>NicknameCheck</name>
        <dataType>String</dataType>
        <expression>LOWER(LEFT(SUBSTITUTE(LEFT({!Get_Contact.FirstName}, 1) + &quot;.&quot; + {!Get_Contact.LastName}, &quot; &quot;, &quot;&quot;), 50) + &quot;@enercaretest.com&quot;)</expression>
    </formulas>
    <formulas>
        <name>UsernameFormula</name>
        <dataType>String</dataType>
        <expression>LOWER(LEFT(SUBSTITUTE(LEFT({!Get_Contact.FirstName}, 1) + &quot;.&quot; + {!Get_Contact.LastName}, &quot; &quot;, &quot;&quot;), 50) + &quot;@enercaretest.com&quot;)</expression>
    </formulas>
    <interviewLabel>Self Register Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Self Register Flow</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>50</locationX>
        <locationY>1046</locationY>
        <collectionReference>get_matching_Usernames_and_Nicknames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>username_Availability</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Portal_Profile</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>50</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Contact.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>for_Nickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Get_Contact.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_Portal_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/Toronto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>for_Username</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>MailingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>postalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_licenses</name>
        <label>get licenses</label>
        <locationX>182</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LicensesAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Community Login</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserLicense</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalLicenses</queriedFields>
        <queriedFields>UsedLicenses</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_matching_Usernames_and_Nicknames</name>
        <label>get matching Usernames and Nicknames</label>
        <locationX>50</locationX>
        <locationY>938</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>UsernameFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>CommunityNickname</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>NicknameCheck</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>CommunityNickname</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Portal_Profile</name>
        <label>Get Portal Profile</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Community Login User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_user</name>
        <label>get user</label>
        <locationX>446</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existing_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>GetUserDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Reactivate_User</name>
        <label>Reactivate User</label>
        <locationX>578</locationX>
        <locationY>830</locationY>
        <connector>
            <targetReference>ReactivateUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUserDetails.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>ActiveUser</name>
        <label>ActiveUser</label>
        <locationX>842</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActiveUserscreen</name>
            <fieldText>&lt;p&gt;Please reset your password with user name&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>1106</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Errormessage</name>
            <fieldText>&lt;p&gt;Sorry, please verify details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Footer</name>
        <label>Footer</label>
        <locationX>708</locationX>
        <locationY>201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>Registrationwithaccount</name>
            <extensionName>c:registrationWithAccount</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>emailAddress</name>
                <value>
                    <elementReference>emailAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>postalCode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Contact.AccountNumber__c</assignToReference>
                <name>accountNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Get_Contact.Email</assignToReference>
                <name>emailAddress</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Get_Contact.MailingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReactivateUser</name>
        <label>ReactivateUser</label>
        <locationX>578</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReactivatedUserScreen</name>
            <fieldText>&lt;p&gt;User has been activated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Self_Register</name>
        <label>Self Register</label>
        <locationX>1017</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Email.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ConfirmEmailaddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confirm Email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Email.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Name.firstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Name.lastName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Phone.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Address.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Address.street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Address.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Address.country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Address.city</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Registerationwithaccount</name>
            <extensionName>c:registrationWithAccount</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;User as been created successfully, Please check your email&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unavailable_licenses_screen</name>
        <label>Unavailable licenses screen</label>
        <locationX>314</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UnavailableLicenses</name>
            <fieldText>&lt;p&gt;We don&apos;t have available licences &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Footer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetUserDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>NicknameCounting</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>postalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>username_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
